

@import url(https://fonts.googleapis.com/css?family=Kalam);

@CHARSET "UTF-8";
#logoFalcon{
    height: 350px;
    width: 310px;
    border-radius: 50%;
}

.brandFalcon{
    font-family: 'Kalam', cursive;
    color: #D7B462;
}

#icone{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

