@import url(https://fonts.googleapis.com/css?family=Kalam);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Correcting modals*/
div.modal div.modal-backdrop {
    z-index: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

@CHARSET "UTF-8";
#logoFalcon {
    height: 350px;
    width: 310px;
    border-radius: 50%;
}

.brandFalcon {
    font-family: 'Kalam', cursive;
    color: #D7B462;
}

#icone {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.popover-title {
    color: #393d40;
}

.logo-projet {
    height: 40px;
    width: 40px;
    border-radius: 15%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: 2px lightgrey solid;
}

.h {
    margin-left: 10px;
    font-size: 26px;
    vertical-align: middle;
}

#profilbtn {
    margin-top: -6px;
}

#contentProjet {
    width: 100%;
}

#msg {
    border-left: 2px solid rgba(20, 20, 100, 0.20);
    margin-left: 5px;
    padding-left: 10px;
}

#avatar {
    height: 40px;
    width: 40px;
    border-radius: 10%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-right: 2%;
}

#msgGlobal {
    margin: 5px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

#menuVertical {
    display: inline-block;
}

#contentProjet {
    display: inline-block;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.15);
    }

    .sidebar-nav .navbar ul {
        float: none;
    }

    .sidebar-nav .navbar ul:not {
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.decale {
    margin-left: 2%;
    margin-right: 2%;
}

#grp-button {
    position: absolute;
    right: 5px;
    top: -10px;
}

#grp-button-uc {
    position: absolute;
    left: -10px;
    z-index: 2;
}

.thumbnail {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    transition: all 0.2s ease-in;
}

.thumbnail:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.13);
}

#borderNone {
    border: 0;
}

#logoProfil {
    width: 250px;
    height: 250px;
    border-radius: 6px;

}

#contentCaption {
    height: 110px;
    padding-bottom: 10px;
    overflow: auto;
    margin-bottom: 10px;
}

.imgRes img {
    position: absolute;
    z-index: 1;
    height: 45px;
    width: 45px;
    left: 3px;
    top: -15px;
    border-radius: 50%;
    border: 1px #cacaca solid;
}
